@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-medium;
        scroll-behavior: smooth;
    }

    .rich-editor-content h2 {
        font-size: revert;
        font-weight: revert;
        margin: revert;
    }

    .rich-editor-content h3 {
        font-size: revert;
        font-weight: revert;
        margin: revert;
    }

    .rich-editor-content ul {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    .rich-editor-content ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    .rich-editor-content a {
        text-decoration: revert;
        @apply text-primary;
    }
}


@layer components {
    .btn {
        @apply rounded-md font-bold py-3 px-6
    }
    
    .btn-primary {
        @apply btn bg-primary text-white
    }

    .btn-secondary {
        @apply btn bg-secondary text-primary
    }

    .btn-icon {
        @apply flex items-center gap-2
    }

    .shadow-bottom {
        @apply shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
    }
}


.link-active {
    @apply  font-bold text-primary border-b-2 border-primary
}

.resource-link-active {
    @apply font-bold text-primary
}